
#topNav.affix {
    position: fixed;
    top: 0px;
    left: auto;
    right: auto;
    width: 100%;
    z-index: 9999;
}

#main {
    min-height: 450px;
    padding-bottom: 50px;
}

#features li, #roadmap li {
    min-height: 250px;
    padding-right:55px;
}

#profile-thumbnail a {
    margin: 3px;
}

#profile-thumbnail p {
    text-align: center;
}

.stacked {
    margin-top: 1em;
    margin-bottom: 1em;
}

i.icon-before {
    margin-right: 5px;
}

.banner {
    display: block;
    width: 100%;
    min-height: 80px;
    margin: 0;
    background: #000 url(../images/banner.png) no-repeat top left;
}

.footer {
    display: block;
    width: 100%;
    min-height: 250px;
    margin: 0;
    background: #000 url(../images/footer.png) no-repeat top left;
}
