body {
    /*padding-top: 60px;*/
    padding-bottom: 40px;
}

#topNav.affix {
    position: fixed;
    top: 0px;
    left: auto;
    right: auto;
    width: 100%;
    z-index: 9999;
}

.sidebar-nav {
    padding: 9px 0;
}

.modal {
    display: none;
}

.vertical-spaced {
    margin-top: 1em;
    margin-bottom: 1em;
}

.banner {
    display: block;
    width: 100%;
    min-height: 250px;
    margin: 0;
    background: #000 url(../images/banner.png) no-repeat top center;
}
