extends ../layout

block content

    .row
        .span12
            .page-header
                h1 News
    .row
        .span6
            ul(class="media-list")
                each article in newsList
                    li.media.discoverable-container
                        img(src='/images/icons/news.png', class='media-object pull-left')
                        div(class='media-body')
                            h4(class='media-heading') #{article.title}
                                small #{article.happened.toDateString()}
                            div(class='media') !{markdown(article.content)}
                            .media-footer
                                span by #{article.author}
                                span.pull-right.discoverable
                                    a.btn.btn-small.btn-danger(href="/admin/news/remove/" + article.id) Delete
        .span6
            form.form-horizontal.well(action='/admin/news', method='POST')
                legend Create News Article
                .control-group
                    label.control-label(for='title') Title
                    .controls
                        input#title(name='title', type='text', placeholder='Title..')
                .control-group
                    label.control-label(for='author') Author
                    .controls
                        input#author(name='author', type='text', placeholder='Author..')
                .control-group
                    label.control-label(for='happened') Happend On
                    .controls
                        input#happened(name='happened', type='text', placeholder='Date..')
                .control-group
                    label.control-label(for='content') Content
                    .controls
                        textarea#content.span3(name='content', placeholder='Content..', rows=7)
                .form-actions
                    button.btn.btn-primary(type='submit') Add

    script
        $("#happened").datepicker();