extends layout

block content
    .row
        .span4
            ul.thumbnails
                li.span3
                    .thumbnail(id='profile-thumbnail')
                        img(src='http://www.gravatar.com/avatar/f6e3d02a38652dd089dccbd80f09cc04?s=250', alt='Picture')
                        p.stacked
                            a(href='https://plus.google.com/116207586575258178131', target='_blank')
                                img(src='/images/icons/google-plus.png', alt='Google+')
                            a(href='https://www.facebook.com/devnull.org', target='_blank')
                                img(src='/images/icons/facebook.png', alt='Facebook')
                            a(href='http://www.linkedin.com/pub/mike-cantrell/5/5aa/329', target='_blank')
                                img(src='/images/icons/linkedin.png', alt='LinkedIn ')
        .span8
            .page-header
                h1  Mike Cantrell <small>Technologist</small>
            .row
                .span8
                    h4 Introduction
                    | Hello! I run this website and work on these projects in my spare time <em>(with what little I have
                    | left of it these days)</em>. My hope is to learn, solve some problems and share my results with
                    | others. I enjoy technology and I'm always striving to learn more and make myself better.
            .row
                .span4
                    h4 Background
                    blockquote Where I've been..
                    ul
                        li Software Developer
                        li Systems Engineer
                        li Agile Development Enthusiast
                        li Groovy, Spring, Open Source Evangelist
                        li Solver of Problems
                .span4
                    h4 Foreground
                    blockquote Where I'm heading..
                    ul
                        li Node.js
                        li
                            | Big Data
                            ul
                                li MongoDB
                                li HBase
                                li MapReduce
                        li User Experience
                        li HTML5


    script
        $(function () {
            selectTab("#about");
        });