extends layout

block content
    div(class='row')
        div(class='span6')
            div(class='page-header')
                h1 Applications

            a(href='/zuul')
                h3 Zuul
                img(src='/images/zuul/zuul.png', class='img-polaroid')
            p(class="stacked")
                |Zuul is a free, open source web application which can be used to centralize and
                |manage configuration for your internal applications. It enables your operations
                |team to control changes and your developers a centralized place to organize settings.
            a(class='btn btn-primary', href='/zuul') More
        div(class='span6')
            div(class='page-header')
                h1 News
            ul(class="media-list")
                li(class='media')
                    img(src='/images/icons/news.png', class='media-object pull-left')
                    div(class='media-body')
                        h4(class='media-heading') Zuul 1.2 Released
                            small  Dec 17th, 2012
                        div(class='media') Zuul 1.2 has been released with the following new features:
                        ul(class='stacked')
                            li  Support for restricting environments
                            li Easier LDAP configuration
                            li UI Improvements to the Environment Admin Page
                li(class='media')
                    img(src='/images/icons/news.png', class='media-object pull-left')
                    div(class='media-body')
                        h4(class='media-heading') Zuul 1.1 Released
                            small  Nov 29th, 2012
                        div(class='media') Zuul 1.1 has been released with the following new features:
                        ul(class='stacked')
                            li Change auditing
                            li Search
                            li Gravatar Icons
                            li UI Improvement

    script
        $(function () {
            selectTab("#home");
        });