doctype 5
html
  head
    title=title + ' | DevNull'
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="google-site-verification", content="J_Lv-WhU2pP2qaOQbnb-DsgEbtcp3C2xQc5kYRT9VLk")
    link(rel="shortcut icon", href="/images/favicon.ico")
    link(rel="stylesheet", href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css", type="text/css")
    link(rel="stylesheet", href="/ext/bootstrap-2.2.2/css/bootstrap.min.css", type="text/css")
    link(rel="stylesheet", href="/ext/bootstrap-2.2.2/css/bootstrap-responsive.min.css", type="text/css")
    link(rel='stylesheet', href='/css/style.css')
    script(src="http://code.jquery.com/jquery-1.8.3.js")
    script(src="http://code.jquery.com/ui/1.9.2/jquery-ui.js")
    script(src="/ext/bootstrap-2.2.2/js/bootstrap.min.js")
    script(src="/js/main.js")
    // if lt IE 9
        script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")


  body

    div(class="container banner")
        a(href="https://github.com/mcantrell")
            img(style="position: absolute; top: 0; left: 0; border: 0;",
                src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png",
                alt="Fork me on GitHub")
    div(id="topNav", class="navbar affix-top", data-spy="affix", data-offset-top="80")
        div(class="navbar-inner")
            div(class="container")
                a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                a(class="brand", href="/", style="padding-left: 6em;") DevNull.org
                div(class="nav-collapse")
                    ul(class="nav")
                        li(id="home")
                            a(href="/") Home
                        li(id="zuul")
                            a(href="/zuul") Zuul
                        li(id="about")
                           a(href="/about") About
                    ul(class="nav pull-right")
                        if (!user)
                            li(id="login")
                                a(href="/login") Login
                        else
                            li#admin.dropdown
                                a.dropdown-toggle(href="#", data-toggle="dropdown")  Admin
                                    b.icon-after.caret
                                ul.dropdown-menu
                                    li
                                        a(href="/admin/news") News


    div(class='container', id='main')
        block content
    div(id='powered-by')
        div(class='container')
            div(class='row')
                strong Powered By Open Source
            div(class='row stacked')
                div(class='span8 offset3')
                    a(href='http://twitter.github.com/bootstrap/', rel='tooltip', title='Bootstrap', target='_blank')
                        img(src='/images/icons/bootstrap.png', alt='Bootstrap')
                    a(href='http://www.springsource.org/', rel='tooltip', title='Spring', target='_blank')
                        img(src='/images/icons/spring.png', alt='Spring')
                    a(href='http://groovy.codehaus.org/', rel='tooltip', title='Groovy', target='_blank')
                        img(src='/images/icons/groovy.png', class='img-rounded', alt='Groovy')
                    a(href='http://www.jetbrains.com/idea/', rel='tooltip', title='Intellij IDEA', target='_blank')
                        img(src='/images/icons/intellij.png', alt='Intellij IDEA')
                    a(href='http://nodejs.org/', rel='tooltip', title='Node.js', target='_blank')
                        img(src='/images/icons/nodejs.png', alt='Node.js')

    footer(class="footer banner")

