extends layout

block content
    div(class='row')
        div(class='span12')
            div(class='page-header')
                h1 Zuul
                    small  Application Configuration Management..
            blockquote
                | Zuul is a free, open source web application which can be used to centralize and manage
                | configuration for your internal applications. It enables your operations team
                | to control changes and your developers a centralized place to organize settings.
    div(class='row')
        div(class='span10 offset1')
            div(id="zuulCarousel", class="carousel slide")
                div(class="carousel-inner")
                    div(class="active item")
                        img(alt="settings", src="/images/zuul/settings.png")
                        div(class="carousel-caption")
                            h4 Centralized Settings
                            p
                                | Provision your application configuration files by environment and configure them in a
                                | single location. Let your support and operations team view and configure important
                                | resources such as database URLs and credentials.
                    div(class="item")
                        img(alt="single sign on", src="/images/zuul/sso.png")
                        div(class="carousel-caption")
                            h4 Single Sign On
                            p
                                | Integrates with popular single sign on providers such as Google and Yahoo via OpenID.
                    div(class="item")
                        img(alt="roles", src="/images/zuul/roles.png")
                        div(class="carousel-caption")
                            h4 Role Based Access Control
                            p
                                | System administrators can easily control who has access to which features with user to
                                | role mappings.
                    div(class="item")
                        img(alt="encryption", src="/images/zuul/keys.png")
                        div(class="carousel-caption")
                            h4 Encryption Keys
                            p
                                | Manage keys to allow your users to encrypt/decrypt values.
                a(class="carousel-control left", href="#zuulCarousel", data-slide="prev") &lsaquo;
                a(class="carousel-control right", href="#zuulCarousel", data-slide="next") &rsaquo;
    div(class='row stacked')
        div(class='span12', style='text-align:center;')
            div(class='btn-group')
                a(class="btn btn-danger btn-large", href="https://s3.amazonaws.com/devnull.org/zuul-web-1.5.0.war")
                    i(class='icon-before icon-white icon-download')
                    | Download 1.5
                a(class="btn btn-primary btn-large", href="https://github.com/mcantrell/zuul", target="_blank")
                    | Source Code &raquo;
                a(class="btn btn-primary btn-large", href="https://github.com/mcantrell/Zuul/wiki", target="_blank")
                    | Documentation &raquo;
                a(class="btn btn-primary btn-large", href="/LICENSE.txt", target="_blank")
                    | License &raquo;
    div(class='row stacked')
        div(class='span12')
            ul(class='nav nav-tabs')
                li(class='active', id='featuresTab')
                    a(data-toggle='tab', href='#features') Features
                li
                    a(data-toggle='tab', href='#roadmap') Road Map
            div(class='tab-content')
                div(class='tab-pane active', id='features')
                    ul(class='unstyled')
                        li(class='span3')
                            h4 Centralized Management
                            hr
                            p
                                | Provision your application configuration files by environment and configure them in a
                                | single location. Let your support and operations team view and configure important
                                | resources such as database URLs and credentials.
                        li(class='span3')
                            h4 Encryption
                            hr
                            p
                                | Encrypt and decrypt sensitive values use PGP and password based encryption (AES, Triple DES,
                                | DES).
                        li(class='span3')
                            h4 Web Services
                            hr
                            p
                                | Easily access the configuration data from within your application via RESTful services.
                                | Content can be rendered as JSON or Java Properties files.
                        li(class='span3')
                            h4 Role Based Access Controls
                            hr
                            p
                                | Pre-defined user roles allow you to restrict which users have access to various
                                | functions and features within the application.
                        li(class='span3')
                            h4 Single Sign In
                            hr
                            p
                                | Integrates with popular single sign on providers such as Google and Yahoo via OpenID.
                                | If OpenID isn't your thing, you can also configure it to authenticate against LDAP
                                | or ActiveDirectory.
                        li(class='span3')
                            h4 Spring Client
                            hr
                            p
                                | Seamlessly integrate your <a href="http://springframework.org/">Spring applications</a>
                                | with  our <a href="https://github.com/mcantrell/Zuul/wiki/Client-Integration">custom
                                | client</a> and spring XML namespace.
                        li(class='span3')
                            h4 Audit Changes
                            hr
                            p
                                | Keep a an audit trail of who changed what settings and when.
                        li(class='span3')
                            h4 Search
                            hr
                            p
                                | Navigate to settings via a simple search.
                        li(class='span3')
                            h4 Environment Based Roles
                            hr
                            p
                                | Enable roles based on environment. For instance, allow your development staff full
                                | control over dev environments but restrict the production environments to your
                                | operational staff.


                div(class='tab-pane', id='roadmap')
                    ul(class='unstyled')
                        li(class='span3')
                            h4 Hierarchical Configurations
                            hr
                            p
                                | Mash up multiple configurations into a single configuration with inheritance and
                                | overridden values.
                        li(class='span3')
                            h4 Syndicated Feeds
                            hr
                            p
                                | Subscribe to changes via RSS or Atom feeds.
                        li(class='span3')
                            h4 Dependency Analysis
                            hr
                            p
                                | Track download activity in order to gain oversight into what configuration settings
                                | are being used.

    script
        $(function () {
            selectTab("#zuul");
            $("#zuulCarousel").carousel();
            $("#featuresTab a:first").tab('show');
        });